$padding-sm: 3rem;
$padding-md: 4rem;

$margin-sm: 3rem;



@function parseInt($n) {
    @return $n / ($n * 0 + 1);
}

//convert rem back to px
@function rem-to-px($size) {
    $value: parseInt($size) * 16px; //15px is the base size specified
    @return round($value);
}

//font-size rem version
@mixin font-size-rem($font-size-rem) {
    font-size: rem-to-px($font-size-rem);
    font-size: $font-size-rem;
}

/////////Use the above function when using rem units to cater for older browsers :)


.au-padding {
    padding: rem-to-px($padding-sm);
    padding: $padding-sm;
}

.alpha-bar {
    background: #c91a78;

    .au-body.container-fluid {
        background: transparent;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    p {
        max-width: 100%;
        color: #fff;
    }

    .alpha-text {

        background: #000;
        padding: 2px;
        text-transform: uppercase;
        font-weight: bold;
    }
}


.lead {

    @include font-size-rem(1rem);

}

a.active {
    background-color: #135E70;
}


.banner {
    padding: rem-to-px($padding-sm); 
    padding: $padding-sm;

    &.banner--alt {
        background: #ebebeb;
    }

    &.hero-section {


        h1 {
            @include font-size-rem(3.5rem);
        }

        .au-btn {
            @include font-size-rem(1.2rem);
        }
    }

    &.au-body--dark {
        background: #313131;
    }

    .au-card .au-card__inner {

        padding: rem-to-px($padding-sm);
        padding: $padding-sm;
    }

    .link-wrapper {
        margin-top: rem-to-px($margin-sm);
        margin-top: $margin-sm;
    }

}