.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.grid-content {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  border: 2px solid #135e70;

}

span { 
  position:absolute; 
  width:auto;
  height:auto;
  top:0;
  left: 0;
  z-index: 1;
}   

.center {
  margin: auto;
  text-align: center;
  vertical-align: bottom;
}

/* Horizontal line */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* Links seen as normal */
a {
  color: black;
  text-decoration: none;
  text-align: center;
}

/* Accordions */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  font-size: 50px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}