/* Alpha tag grid */
.grid-container-Alpha {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 10px;
  padding: 10px;
}

/* Grid for home page contents */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border: 2px solid #135e70;
}

span { 
  position:absolute; 
  width:auto;
  height:auto;
  top:0;
  left: 0;
  z-index: 1;
}   

.playTabGrid {
  margin: auto;
  text-align: left;
  vertical-align: bottom;
}

/* Horizontal line */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid rgb(0, 0, 0);
  margin: 1em 0;
  padding: 0;
}

/* Links seen as normal */
a {
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: "Calibri", sans-serif;
  font-weight: lighter;
}

/* Calibri Light Font */
.calib-font {
  font-family: "Calibri", sans-serif;
  font-weight: lighter;
}

p {
  font-family: "Calibri", sans-serif;
  font-weight: lighter;
  line-height: 1.5;
}

h1 {
  font-family: "Calibri", sans-serif;
  font-weight: bold;
}

.h1title {
  font-size: 30px;
  margin-bottom: 0px;
}

h4 {
  font-family: "Calibri", sans-serif;
  font-weight: bold;
}

li {
  font-family: "Calibri", sans-serif;
  font-weight: lighter;
}

h2 {
  font-family: "Calibri", sans-serif;
  font-weight: bold;
}

h3 {
  font-family: "Calibri", sans-serif;
  font-weight: bold;
}

.explanation {
  margin-left: 5px;
  vertical-align: middle;
}

img {
  height: 50px;
}

label {
  font-family: "Calibri", sans-serif;
  font-weight: lighter;
}

.margin-style {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Play content */
.grid-play-header-content{
  display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
  padding: 10px;
}
.heading-text{
  /* color:#135E70; */
  color: black
}
.play-layout-container{
  text-align: center;
}
.grid-play-layout {
  display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    padding: 10px;
}
.grid-content-play {
   grid-gap: 10px;
  padding: 10px;
}
.grid-play-layout {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
  padding: 10px;
}
.grid-play-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  padding: 5px;
}
.grid-play-title {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px;
}

li {
  text-align: left;
}
p.play-body {
  text-align: left;
}

/* Images */
img {
  height: 50px;
}

.imgPlayTabGrid {
  float: left;
  padding-right: 10px;
  height: auto;
  width: auto;
}
.imgheader {
  height: auto;
  width: auto;
}

/* Custom Checkbox */
/* The container */
.checkContainer {
  display: block;
  position: relative;
  padding-left: 35px;
  padding-bottom: 10px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkContainer input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkContainer:hover input ~ .checkmark {
  background-color: #ccc;
}

.checkContainer input:checked ~ .checkmark {
  background-color: #135e70;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkContainer input:checked ~ .checkmark:after {
  display: block;
}

.checkContainer .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}