<!DOCTYPE html>
<!--[if lt IE 8]><html class="no-js lt-ie8 lt-ie9" lang="en"><![endif]-->
<!--[if IE 8]><html class="no-js lt-ie9 ie8" lang="en"><![endif]-->
<!--[if IE 9 ]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if !(IE)]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/favicons/favicon-16x16.png">
<link rel="mask-icon" href="/assets/favicons/safari-pinned-tab.svg" color="#06262d">
<link rel="shortcut icon" href="/assets/favicons/favicon.ico">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">
<meta name="robots" content="index, follow">
<meta name="author" content="Digital Transformation Agency Business case playbook">
<meta name="description" content="The Digital Transform provides countries with information on how to develop business cases which support investment decisions in digital transformation and ICT.">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Digital Transformation Agency Business case playbook">
<meta name="twitter:description" content="he Digital Transform provides countries with information on how to develop business cases which support investment decisions in digital transformation and ICT.">
<meta name="twitter:name" content="Digital Transformation Agency Business case playbook">
<meta name="twitter:image" content="/assets/favicon/dta-business-case-playbook.jpg">
<meta property="og:type" content="website">
<meta property="og:title" content="Homepage - Digital Transformation Agency Business case playbook">
<meta property="og:site_name" content="Digital Transformation Agency Business case playbook">
<meta property="og:description" content="he Digital Transform provides countries with information on how to develop business cases which support investment decisions in digital transformation and ICT.">
<meta property="og:image" content="/assets/favicon/dta-business-case-playbook.jpg">
<meta property="og:url" content="https://businesscaseplaybook.service.gov.au/">
<title>{{page.title}} - DTA Business case playbook</title>
<link rel="icon" href="/assets/favicons/favicon.ico">
<link type="text/css" rel="stylesheet" href="/assets/css/main.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<!--[if lte IE 9]>
    <script src="/assets/js/html5shiv.js"></script>
    <script src="/assets/js/respond.js"></script>
<![endif]-->
<script src="/assets/js/header.js"></script>