// Dark theme overrides
// $AU-colordark-foreground-text:   #ffffff;
// $AU-colordark-foreground-action: #f9f9f9;
// $AU-colordark-foreground-focus:  #13e241;
// $AU-colordark-background:        #134169;

// Light theme overrides
// $AU-color-foreground-action: #134169;
// $AU-color-foreground-focus:  #0C8927;

//Main nav, set project specific breakpoint

$foundations: #28B715;
$discovery: #ED7D3A;
$test: #68538D;
$iterate: #8F2D56;

$AU-main-nav-breakpoint: sm;

// UI-Kit
@import './pancake/sass/pancake.scss';


// Reset the body
html,
body {
    padding: 0;
    margin: 0;
    background: #135e70;
}

.au-body {

    i.fa,
    i.fab,
    i.fas {
        font-style: normal !important
    }


    .pagination {
        text-align: right;

        a.prev {
            margin-right: 1rem;
        }

        a.next {
            margin-left: 1rem;
        }

    }
}

.mb-3 {
    margin-bottom: 3rem;
}

.mt-0 {
    margin-top: 0;
}

.has-side-nav {
    h1 {
        margin-top: 0;
    }
}


.visually-hidden {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}

.mt-0 {margin-top:0;}
.mb-3 {margin-bottom:3rem;}
.page-wrapper {
    background: #fff;
}

// Increase the spacing for au-body elements inside main
main>.au-body {
    @include AU-space(padding, 2unit 0);

}

main>.banner {

    @include AU-media(sm) {
        @include AU-space(padding, 4unit 0);
    }
}

// Slight grid changes for container fluid
.au-grid .container-fluid {
    @include AU-space(max-width, 80unit);

    @include AU-media(sm) {
        @include AU-space(padding-left, 2unit);
        @include AU-space(padding-right, 2unit);
    }
}

// Increase spacing between inline list items in footer
.au-footer .au-link-list--inline li {
    @include AU-space(padding-right, 1unit);
}

// The call to actions on the home page
.btn-cta-group {
    @include AU-space(margin-top, 1unit);

    .au-btn {
        @include AU-space(margin-top, 1unit);
    }
}

// Mobile side nav spacing
.au-side-nav {
    @include AU-space(margin-bottom, 2unit);

    @include AU-media(sm) {
        margin-bottom: 0;
    }
}

form {
    @include AU-space(margin-top, 2unit);
}

.hide_content {
    display: none;
}

//increase the space between form groups
.au-form-group+.au-form-group {
    @include AU-space('margin-top', 2unit)
}

.articles-cta {
    @include AU-space('margin-top', 0.25unit);
    text-align: right;

    @include AU-media(md) {
        @include AU-space('margin-top', 1unit);
    }
}


.au-header .au-search {

    width: 100%;

    @include AU-media(xs) {
        width: 75%;
    }

    @include AU-media(sm) {
        width: 100%;
    }
}


$padding-sm: 3rem;
$padding-md: 4rem;
$margin-sm: 3rem;


@function parseInt($n) {
    @return $n / ($n * 0 + 1);
}

//convert rem back to px
@function rem-to-px($size) {
    $value: parseInt($size) * 16px; //15px is the base size specified
    @return round($value);
}

//font-size rem version
@mixin font-size-rem($font-size-rem) {
    font-size: rem-to-px($font-size-rem);
    font-size: $font-size-rem;
}

/////////Use the above function when using rem units to cater for older browsers :)

#main-nav {

    li ul {
        display: none
    }
}

.au-main-nav .au-main-nav__toggle,
.au-main-nav a {
    @media (min-width: 768px) {
        font-size: 16px;
        font-size: 1rem;
        line-height: 1.5;
        margin-right: 3rem;
        padding: 1rem 0;
    }
}


.au-main-nav {


    a {
        @media (min-width: 768px) {

            border-bottom: .5rem solid #61daff;
            margin-bottom: -.5rem;
            font-weight: 400;
        }
    }
}


.au-main-nav.au-main-nav--dark .au-main-nav__toggle,
.au-main-nav.au-main-nav--dark a {

    &:focus,
    &:hover {
        color: #fff;
        background: transparent;
        text-decoration: underline;
        border-bottom: .5rem solid #135e70;
    }
}





.label {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;

    &:before {
        background: #fff;
        border-radius: 10px;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
        content: '';
        height: 6px;
        left: 10px;
        position: absolute;
        width: 6px;
        top: 10px;
    }

    &:after {
        background: #fff;
        border-bottom: 13px solid transparent;
        border-left: 10px solid #eee;
        border-top: 13px solid transparent;
        content: '';
        position: absolute;
        right: 0;
        top: 0;
    }


    &.Foundations {
        background: $foundations;

        &:after {
            border-left-color: $foundations;
        }
    }

    &.Discovery {
        background: $discovery;

        &:after {
            border-left-color: $discovery;
        }
    }

    &.Iterate {
        background: $iterate;

        &:after {
            border-left-color: $iterate;
        }
    }



    &.Test {
        background: $test;

        &:after {
            border-left-color: $test;
        }
    }

}




#sidebar {

    padding-bottom: 3rem;

    h2 {
        font-size: 1.2rem;

        text-decoration: none;
        padding: 1rem;
        display: block;
        margin: 0;
        border-left: .5rem solid transparent;

        a {
            //  text-decoration: none
        }
    }




    ul.au-link-list>li.page-link-parent {

        >a {
            font-size: 1.2rem;
            text-decoration: none;
            padding: 1rem;
            display: block
        }

        &.active {
            >a {
                color: #fff;
                background: #135e70;

            }
        }
    }






    ul.child-menu {
        list-style: none;
        padding: 0;
        margin: 0;
        //border-left: 0.5rem solid #61daff;

        a {
            text-decoration: none;

            display: block;
            border-left: 0.5rem solid #61daff;

            span {
                display: block;
                padding: 1rem;



            }

        }

        li {


            border-top: 1px solid #ddd;




            &:first-child {}

            &.active,
            &:hover,
            &:active {



                >a {
                    color: #fff;
                    border-left: 0.5rem solid #135e70;
                    text-decoration: underline;

                    span {
                        background: #135e70;
                    }

                }
            }
        }
    }
}


#content {

    padding-bottom: 6rem;

    h1 {
        margin-bottom: 3rem;
    }

    .row+.row {
        margin-bottom: 3rem;
    }


    &.play {
        h1 {
            margin-bottom: 0 !important;

        }

        >span {
            margin-right: 10px;

            +h1 {

                display: inline-block;
                vertical-align: middle;

            }
        }
    }

}

.au-padding {
    padding: rem-to-px($padding-sm);
    padding: $padding-sm;
}

.alpha-bar {
    background: #c91a78;

    .au-body.container-fluid {
        background: transparent;
        padding-top: 5px;
        padding-bottom: 5px;

    }

    p {
        max-width: 100%;
        color: #fff;
    }

    .alpha-text {

        background: #000;
        padding: 2px;
        text-transform: uppercase;
        font-weight: bold;
    }
}


.lead {


    margin-bottom: 32px;
    margin-bottom: 2rem;
    font-size: 24px;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #636363;
    margin-top: 36px;
    margin-top: 2.25rem;

}


#breadcrumbs {
    padding: 2rem 0;

    a {
        text-transform: capitalize;
    }
}

.au-btn.au-btn--large {

    font-size: 1.2rem !important;
    padding: .5rem 2.5rem;
}


.banner {
    padding: rem-to-px($padding-sm);
    padding: $padding-sm;



    &.banner--alt {
        background: #ebebeb;
    }

    &.hero-section {


        h1 {
            @include font-size-rem(3.5rem);
        }

        .au-btn {
            @include font-size-rem(1.2rem);
        }
    }

    &.au-body--dark {
        background: #313131;
    }

    .au-card .au-card__inner {

        padding: rem-to-px($padding-sm);
        padding: $padding-sm;
    }


    .link-wrapper {
        margin-top: rem-to-px($margin-sm);
        margin-top: $margin-sm;
    }

}

.au-card-list {
    list-style: none;
    padding: 0;

    .label {

        border-radius: 0;
    }
}

.text-center {
    text-align: center
}

.quote {

    .author {}
}

.play-number {
    background: #61daff;
    border-radius: .8em;
    -moz-border-radius: .8em;
    -webkit-border-radius: .8em;
    color: #00698f;
    display: inline-block;
    font-weight: 700;
    line-height: 1.6em;
    margin-right: 5px;
    width: 1.6em;
    font-size: 2rem;
}


.play-intro {

    p {
        margin-bottom: 32px;
        margin-bottom: 2rem;
        font-size: 20px;
        font-size: 1.2rem;
        line-height: 1.5;
        color: #636363;
        margin-top: 36px;
        margin-top: 2.25rem;
    }
}

.feature-container {
    padding: 4rem;
    position: relative;
    background: #eee;


    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        border-width: 0 30px 30px 0;
        border-style: solid;
        border-color: #fff #fff #bbb #bbb;
        display: block;
        width: 0;
    }
}


.flex-row {
    display: flex
}

.country {
    display: block;
    font-size: 1.2rem;
    color: #696969;
    font-weight: normal;
}

.links-list {
    p {
        margin: 2rem 0;
    }
}

.footer__legal-links {
    padding-bottom: 3rem !important
}

.play-cards {

    .au-card {

        a {
            color: #222;
        }


        &.Foundations {
            background: lighten($foundations, 55%);

            .label {

                &:after {
                    background: lighten($foundations, 55%);
                }
            }

        }

        &.Discovery {
            background: lighten($discovery, 35%);


            .label {

                &:after {
                    background: lighten($discovery, 35%);
                }
            }
        }

        &.Iterate {
            background: lighten($iterate, 55%);

            .label {

                &:after {
                    background: lighten($iterate, 55%);
                }
            }

        }



        &.Test {
            background: lighten($test, 45%);

            .label {

                &:after {
                    background: lighten($test, 45%);
                }
            }

        }


        .icon-play-card {
            padding: 1rem 0 0 0;
            text-align: center;



        }


        .au-card__title {
            margin: 1rem 0;
            text-align: center;
        }
    }

}

.fa-circle {

    &.Foundations {
        color: $foundations;


    }

    &.Discovery {
        color: $discovery;


    }

    &.Iterate {
        color: $iterate;


    }



    &.Test {
        color: $test;


    }

}

.au-callout {
    font-size: 1.2rem;
}

.au-callout--dark {

    .lead {
        color: #fff;
    }
}

.call-out-margin {
    margin: 2rem 0;
}


.author {

    padding-top: 1rem;
    text-align: right;
    max-width: 100% !important;
    font-size: 0.8rem
}