---
layout: content-page-play
title: Engage stakeholders early and often
---
<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="introduction" %}
<p>Strong engagement will ensure you have stakeholder collaboration when drafting and delivering the business case, even if they do not necessarily support the proposed solution.</p>
<!--end include -->
{% include play-section-end.html section-title="introduction" %}


<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="playDescription" %}
<p>A collaborative approach with your stakeholders will bring them on the journey and provide useful insights. Stakeholders can include people and organisations who are actively involved in your service or product, or who would have an interest if there are changes to your product or service. This could include other government organisations, third party service providers or industry groups.</p>
<p>Your multi-disciplinary team may include people who represent stakeholder groups, but it is important to ensure that you consult stakeholders directly, and that they participate in the development of your business case.</p>
<p>Keep in mind your government may have its own requirements to making investment decisions (such as specific methods for costing options) that will determine who you need to work with in developing the business case.</p>
<!--end include -->
{% include play-section-end.html section-title="playDescription" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="keyActivities" %}
<h3>Identify Your Stakeholders</h3>
<p>Use different processes such as brainstorming to determine who your stakeholders are. Think about all the people who are affected by your product or service, and the people who have control or influence over it. Who is part of the supply chain for your product or service? Who provides it with information you need to perform your work, or who relies on your work to be able to do theirs?</p>
<h3>Establish support from relevant people</h3>
<p>Ensure stakeholders agree to the reason for change by framing the issue in terms that relate to them. A common goal will ensure you have stakeholder support when drafting the business case. Remember that stakeholders may be internal or external to your organisation and might include other levels of government and non-government service providers.</p>
<!--end include -->
{% include play-section-end.html section-title="keyActivities" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="questionsToConsider" %}
<ul>
<li>Who are your stakeholders?</li>
<li>How influential is each stakeholder? Are there stakeholders you will rely on to successfully develop the business case?</li>
<li>What are the stakeholders needs and expectations of your product or service?</li>
<li>What are the stakeholders needs and expectations of your business case?&nbsp;</li>
<li>Which stakeholders will expect to be kept informed of the development of your business case and who will expect to be more actively engaged?</li>
<li>How will you communicate with stakeholders?</li>
<li>How will you monitor that stakeholder expectations are met?</li>
<li>How will you manage resistance to change from stakeholders?</li>
</ul>
<!--end include -->
{% include play-section-end.html section-title="questionsToConsider" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="resources" %}
<p><a href="https://www1.health.gov.au/internet/main/publishing.nsf/Content/ocp-mat">Stakeholder Mapping and Analysis Tool</a> - This is an example of how some organisations may identify the key stakeholders required to be engaged in the development of a business case.</p>
<!--end include -->
{% include play-section-end.html %}