---
layout: content-page-play
title: Engage your sponsors
icon: user-check
---
<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="introduction" %}
<p>By engaging the sponsor in actively driving and providing guidance on the business case you ensure that it addresses the needs of the decision-makers.</p>
<!--end include -->
{% include play-section-end.html section-title="introduction" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="playDescription" %}
<p>Identify the senior executive responsible for the business case to be the sponsor. Work with the sponsor to arrange fit-for-purpose governance in the context of your organisation and government.&nbsp;</p>
<p>Ensure the sponsor has time to commit to supporting the business case. Your sponsor will also be a good source of stakeholder connections and will be able to facilitate links to people and information that are vital to undertaking your business case.</p>
<!--end include -->
{% include play-section-end.html section-title="playDescription" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="keyActivities" %}
<p>Appoint an executive sponsor to gain strong engagement. This will provide top down support that ensures decisions relating to the business case are made by the right people, at the right time.</p>
<!--end include -->
{% include play-section-end.html section-title="keyActivities" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="questionsToConsider" %}
<ul>
    <li>Who needs to sponsor and review your business case?</li>
    <li>Who do you need input from?</li>
    <li>How will you structure and develop your business case?</li>
    <li>What requirements does your government have for business cases?</li>
    <li>Who can you seek advice from on the business case process and content?</li>
</ul>
<!--end include -->
{% include play-section-end.html section-title="questionsToConsider"%}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="resources" %}
<p><a href="https://www.dta.gov.au/blogs/thinking-and-acting-digitally-little-book-digital">The Little Book of Digital</a> (Australia) &ndash; This handbook describes some basic concepts and shares some ideas on the best ways to start digital transformation in your organisation including establishing a multidisciplinary team and adopting user-centred design to create better results.</p>
<!--end include -->
{% include play-section-end.html section-title="resources" %}