---
layout: content-page-play
title: Establish your team
icon: users
---

<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="introduction" %}


<p>A diverse team helps ensure that you fully consider the business problem and canvass practicable options.</p>
<!--end include -->
{% include play-section-end.html section-title="introduction" %}





<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="playDescription" %}
<p>
    Pull together a multidisciplinary team of the right people. An effective multidisciplinary team is built on a diverse mix of skills. People with expert skills will need to join your team to help manage specific components, such as costings or risk assessments. The team could expand to include people from complementary agencies or external contractors for intense bursts of effort.
</p>
<!--end include -->
{% include play-section-end.html section-title="playDescription" %}




<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="keyActivities" %}
<p><strong>Understand the 'who'</strong></p>
<p>Set up a multi-disciplinary team and identify who can provide input into the business case.</p>
<p>Teams with a diversity of skills and knowledge should work together throughout the lifecycle of the business case to ensure each stage benefits from different perspectives.</p>
<p>You should also know who your stakeholders are. Business cases require support from inside and outside of your organisation, and you should seek this input regularly.</p>
<!--end include -->
{% include play-section-end.html section-title="keyActivities" %}




<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="questionsToConsider" %}
<ul>
    <li>Who do you need in your multi-disciplinary team to ensure that it represents the key players to deliver an effective business case?</li>
    <li>What capability and experience do you need in the people who will contribute to the business case?</li>
    <li>How will you structure and develop your business case?</li>
    <li>What requirements does your government have for business cases?</li>
    <li>Who can you seek advice from on the business case process and content?</li>
</ul>
<!--end include -->
{% include play-section-end.html section-title="questionsToConsider" %}




<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="resources" %}
<h2 id="links">Resources</h2>
<p><a href="https://www.dta.gov.au/blogs/thinking-and-acting-digitally-little-book-digital" target="_blank">The Little Book of Digital</a> (Australia) &ndash; This handbook describes some basic concepts and shares some ideas on the best ways to start digital transformation in your organisation including establishing a multidisciplinary team and adopting user-centred design to create better results.</p>
<p><a href="https://www.atlassian.com/team-playbook" target="_blank">Team Playbook</a> &ndash; a series of workshop resources developed by software company Atlassian for addressing common team challenges and starting important conversations.</p>
<!--end include -->
{% include play-section-end.html section-title="resources" %}



