---
layout: content-page-play
title: Explore options
menus: plays
icon: door-open
label: Discovery
---
<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.md section-title="introduction" %}
<p>Generate genuine alternate solutions to your business problem – including innovative approaches that may not be readily apparent.</p>
<!--end include -->
{% include play-section-end.md section-title="introduction" %}


<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.md section-title="playDescription" %}
<p>Identify potential solutions that could address the business problem. There are many methods you can use for developing options, such as brainstorming or scenario planning. You might conduct a design sprint or hackathon to quickly prototype potential solutions. Each option needs to be viable and achievable, and meaningfully different from the other options you might be presenting. It is unhelpful to propose options that you cannot practically implement&mdash; due to limitations in your organisation or in your country&rsquo;s strategic context, such as funding constraints or government policy.</p>
<p>Make sure you understand and can describe the current service. This is your baseline. It provides the basis from which you can measure the advantages, disadvantages, and costs of other options you consider. It is also your &lsquo;No change&rsquo; option.</p>
<!--end include -->
{% include play-section-end.md section-title="playDescription" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.md section-title="keyActivities" %}
<h3>Define your baseline</h3>
<p>This is&nbsp;the &lsquo;No Change&rsquo; option. It provides the basis from which you can measure the advantages, disadvantages, and costs of other options. It may be that the most sensible solution, at least for the time being, is not to make a major change.</p>
<h3>Identify feasible options</h3>
<p>Try to identify all the options that could achieve the desired outcomes in the current context. Consider any constraints, such as policy or technology, that might limit what options are practically feasible and achievable.</p>
<p>Hold workshops where stakeholders can collaborate to solve problems and share perspectives. You might like to think about options in terms of changes to people, process and technology.&nbsp;</p>
<h3>Analyse and compare each option</h3>
<p>Establish the criteria against which you will evaluate the options. These should suit the needs of your organisation and government. Your analysis should include a comparison of costs, benefits and risks as a minimum. Refer to <a href="/plays/define-options/">Define options</a> for further detail.</p>
<h3>Align options to outcomes</h3>
<p>Assess each option against the desired outcomes to identify strengths and weaknesses. It is important to note that different options may deliver different measurable benefits against the proposed outcomes.</p>
<!--end include -->
{% include play-section-end.md section-title="keyActivities" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.md section-title="questionsToConsider" %}
<ul>
    <li>What are all the possible options?</li>
<li>Is each option a genuine and viable solution to the business problem?</li>
<li>Have you agreed the criteria you will use to assess each option?</li>
<li>Have you considered options ranging from minimal technology upgrades to more innovative digital and ICT solutions? This includes those options that may challenge your current ICT planning and service delivery approaches.</li>
<li>Have you considered the policy and regulatory implications of each option?</li>
<li>How will each option affect identified stakeholder groups?</li>
<li>What are the costs and benefits of delivering each option?</li>
<li>What are the likely consequences of delivering each option?</li>
<li>Have you considered all the costs, benefits and risks associated with the business case across the lifecycle of the investment (financial and non-financial)?</li>
<li>How do the options align to your government objectives and priorities?</li>
</ul>
<!--end include -->
{% include play-section-end.md section-title="questionsToConsider" %}




<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.md section-title="resources" %}
<p><a href="https://treasury.govt.nz/sites/default/files/2019-08/bbc-options-framework-analysis.pdf">Business Case Options Framework (NZ)</a> &ndash; The options framework provides a structured approach to identifying and filtering a broad range of options for delivering policies, strategies, programmes and projects.</p>
<p><a href="https://www.dta.gov.au/help-and-advice/build-and-improve-services/service-design-and-delivery-process">Service design and delivery process (Australia)</a> &ndash; A guide to what to do in Discovery, Alpha, Beta and Live stages of service design and delivery.</p>
<!--end include -->
{% include play-section-end.md section-title="resources" %}