---
layout: content-page-play
title: Maintain the business case
---
<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="introduction" %}
<p>The business case is a living document. The decision-makers have considered the options in your business case and agreed to a way forward. The work you have done to assess the costs, benefits, risks and implementation details of your preferred solution will continue to inform the project or program of work that now commences.</p>
<p>This Play will help you use the business case to commence your project or program to solve your business problem, and then successfully deliver an effective solution.</p>
<!--end include -->
{% include play-section-end.html section-title="introduction" %}




<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="playDescription" %}
<p>Once a business case has been approved, it becomes both the basis for implementing your change and for checking your progress.</p>
<!--end include -->
{% include play-section-end.html section-title="playDescription" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="keyActivities" %}
<p>Consider when you will review the business case</p>
<p>Schedule reviews of the business case as part of your project planning. For example, in a traditional waterfall-managed project, you might review the business case at the end of a project phase. you might schedule a formal review as part of your retrospective at the end of a sprint or run of sprint.</p>
<!--end include -->
{% include play-section-end.html section-title="keyActivities" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="questionsToConsider" %}
<p>...</p>
<!--end include -->
{% include play-section-end.html section-title="questionsToConsider" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="resources" %}
<p><a href="https://www.finance.gov.au/government/assurance-reviews-risk-assessment/assurance-reviews-process-overview">Assurance Reviews Process Overview (Australia)</a> - This is a guide on assurance practices that help capture important considerations in program delivery.</p>
<p>ANAO document re business case?</p>
<!--end include -->
{% include play-section-end.html section-title="resources" %}