---
layout: content-page-play
title: Select your preferred solution
icon: clipboard-check
label: Test
---
<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="introduction" %}
<p>Validate the evidence that you have considered in comparing each option. Assure that your recommended solution is achievable and fit for purpose; and will resolve the business problem.</p>
<!--end include -->
{% include play-section-end.html section-title="introduction" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="playDescription" %}
<p>Analysing your options will likely highlight one that addresses the business problem within optimal timeframes, early delivery of value to users, and with the best value for money. You should be able to clearly explain why you consider that it provides the ideal solution to the business problem. This is the preferred option.</p>
<p>You should re-test your preferred option against what you learned during the discovery process. Does the proposed solution align with your proposed future state? Do the expected outcomes of the preferred option resolve your business problem? Does the solution meet user needs? Are you able to obtain the technical and other specialist skills required to implement your preferred solution?</p>

<!--end include -->
{% include play-section-end.html section-title="playDescription" %}




<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="keyActivities" %}
<h3>Compare your options</h3>
<p>Identify what represents value for money. Remember, value for money may not necessarily be the cheapest option. Your business problem and context may determine the value placed on benefits, risks, costs and timeframes. Summarise and compare your options with these factors in mind. Be aware of the way your decision-maker assigns value to these factors.</p>
<h3>Justify your preferred option</h3>
<p>Determine which option provides the best outcome and value for money. Summarise where it stands out specifically against the other options and highlight the key benefits. Explain why the other options are not preferred. You may need to complete a more detailed analysis of the costs, benefits and implementation approach for your preferred option (Refer to <a href="/plays/define-options/">Define options</a>). Align your preferred option with the broader context.</p>
<p>Explain how the preferred option delivers on the outcomes and how it aligns to the organisation’s and government’s policy objectives.</p>

<!--end include -->
{% include play-section-end.html section-title="keyActivities" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="questionsToConsider" %}
<ul>
<li>Why is the preferred option worth pursuing?</li>
<li>How do you define value for money?</li>
<li>Why does the option need to be pursued now and what is the impact if it is not?</li>
<li>Why are the other options not preferred?</li>
<li>How will the preferred option be delivered?</li>
<li>Who will deliver the preferred option?</li>
<li>Does your organisation and government have the capacity and capability to deliver this option?</li>
</ul>
<!--end include -->
{% include play-section-end.html section-title="questionsToConsider" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="resources" %}
<p><a href="https://www.atap.gov.au/sites/default/files/f4_business_case_for_proposed_initiatives.pdf">Detailed business case of preferred option (Australia)</a> &ndash; This document provides guidance on the steps and the detail proposed to justify the preferred option.</p>
<!--end include -->
{% include play-section-end.html section-title="resources" %}