---
layout: content-page-play
title: Understand the problem
icon: compass
label: Discovery
---
<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="introduction" %}

<p>This process ensures you can define the future state that you are trying to achieve.</p>

<p>You should be able to clearly describe the business problem, and what would be the outcomes, including changes to user experience, that would result from successfully resolving it.</p>

<p>You want your reader to understand why this problem deserves attention.</p>
<!--end include -->
{% include play-section-end.html section-title="introduction" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="playDescription" %}
<p>Outline the problem the business case seeks to resolve. You should fill gaps in your knowledge as they appear and identify factors that impact the problem. Think about how the problem relates to your current environment, and how it sits within a broader context. Analyse the problem against the backdrop of your organisation and your government’s priorities.</p>
<p>Understand how the business problem interacts with user needs and experience. You should keep users at the centre of your solution design and delivery. Conduct user research to identify existing pain points. Use these insights to design effective options. You should use surveys and quantitative and qualitative research methods interviews to identify user needs and inform your business case options. User research and engagement should happen throughout the development of the business case.</p>
<p>You need to retest your understanding of the users&rsquo; pain points and experience as you develop and consider different solutions to the business problem.</p>
<p>Define the outcomes you aim to achieve to address your business problem. The future state will need to deliver on these outcomes by changing your organisation's culture, ways of working, processes, business models and technologies.</p>
<p>Once you understand the problems you are trying to solve, you need to understand what solving those problems could look like. What is your vision for users of your service? What would a day in the life of your users look like? What would a day in the life of your organisation's employees look like?</p>
<p>Keep in mind that your understanding of the future state design will evolve as you develop and refine your options.</p>
<p>You want your reader to understand why this problem deserves attention.</p>
<!--end include -->
{% include play-section-end.html section-title="playDescription" %}



<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="keyActivities" %}
<h4>Put the problem in context</h4>
<p>Identify how the business problem came about and what factors impact the problem. This will help you understand the potential complexity of the problem. You also need to identify the priorities for your organisation. Think about how resolving the business problem might align with these priorities.</p>
<h4>Understand user needs and the reason for change</h4>
<p>Conduct research with users to understand how people interact with your service or product, and why the current state is not working. Summarise why the change is required and how an investment in technology, processes and people could support this change.</p>
<h4>Explain &lsquo;why now&rsquo;</h4>
<p>Describe why the problem needs to be addressed now, and not later. Help the decision-maker understand why this is a priority and what will happen if the current situation continues. A clear description of the current situation will form an important part of the <a href="/plays/explore-options/">&ldquo;No Change&rdquo;</a> option.</p>
<h4>Design with the user at the centre</h4>
<p>Design the future state with the user at the centre of the solution. in mind. The business case should identify who are the users and what they need. Engage with the people who will be using the service.</p>
<h4>Define the future experience</h4>
<p>There are various ways you can create a positive experience for your users. Think about how you can change functions across your organisation to meet the needs of the user. This includes functions relating to people, processes and technology.</p>
<p>Understand and identify what evidence and data would be available for you to measure the change.&nbsp;</p>
<!--end include -->
{% include play-section-end.html section-title="keyActivities" %}




<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="questionsToConsider" %}
<ul>
<li>What government outcomes is your organisation delivering?</li>
<li>What is the strategic direction of government?</li>
<li>What issues need to be addressed in the current environment?</li>
<li>What is the problem that the business case is trying to solve?</li>
<li>What is the context in which the problem occurs?</li>
<li>What are the strategic priorities of your government?</li>
<li>Who are the stakeholders that are impacted?</li>
<li>What data do you need to investigate and understand the business problem?</li>
<li>Do you understand how users currently interact with your service?&nbsp;</li>
<li>Do you understand the policy behind your service and how this defines your response?</li>
<li>How does the future state help achieve government outcomes and organisational objectives?</li>
<li>What are the priority user needs?&nbsp;</li>
<li>How are you planning to address these?</li>
<li>What does the future user experience look like?</li>
<li>What do your people, process and technology need to look like to enable the future user experience?</li>
</ul>
<!--end include -->
{% include play-section-end.html section-title="questionsToConsider" %}




<!--start include wraps the section in starting HTML for styling purposes -->
{% include play-section-start.html section-title="resources" %}
<p><a href="conhttps://www.tbs-sct.gc.ca/pol-cont/doc/32593-eng.docx">Concept Case (</a><a href="conhttps://www.tbs-sct.gc.ca/pol-cont/doc/32593-eng.docx">Canada)</a> &ndash; This document is used to describe a business problem or opportunity and the conceptual future state and intended outcome(s) that could result from a potential digital project</p>
<p><a href="https://dtaplaybook.z24.web.core.windows.net/play1/EstoniaBusinessCase.pdf">Business Case Canvas</a><a href="https://dtaplaybook.z24.web.core.windows.net/play1/EstoniaBusinessCase.pdf"> (Estonia)</a> &ndash; Estonia has adopted a business canvas approach for reviewing and prioritising Digital and ICT projects. This presents the key element of the business case in a one-page (A4) format.</p>
<p><a href="https://en.digst.dk/ict-portfolio-management/business-case-model/">Business case model (Denmark)</a> &ndash; Denmark has established a governance framework around business cases that includes an independent <a href="https://en.digst.dk/ict-portfolio-management/the-danish-council-for-ict/">Council&nbsp;for&nbsp;ICT</a> undertaking an annual assessment of ICT projects on a variety of parameters as part of a <a href="https://en.digst.dk/ict-portfolio-management/ict-project-model/">portfolio management</a> approach.</p>
<p><a href="https://www.dta.gov.au/help-and-advice/about-digital-service-standard">Digital Service Standard Criteria (Australia)</a> &ndash; Provides detail across Australia&rsquo;s Digital Service Standard criteria which is made up of 13 best practice principles for designing and delivering government services</p>
<p><a href="https://www.gov.uk/service-manual/agile-delivery/agile-government-services-introduction">Agile and Government services: an introduction (United Kingdom)</a> - Introduction to how some organisations approach different implementation methods.</p>

<p><a href="https://www.gov.uk/service-manual/user-research">User research (United Kingdom)</a> – A guide to help you understand user needs: plan research, prepare for sessions, share and analyse findings.</p>
<!--end include -->
{% include play-section-end.html %}