---
layout: global
title: Play 2 Define your desired outcomes and future state
---
<div id="content" class="container-fluid">
    {% include breadcrumbs.html %}
    <h1>Play 2</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <p class="lead">Define your desired outcomes and future state</p>
            <p>Once you understand the problems you are trying to solve, you need to understand what solving those problems could look like. What is your vision for users of your service? What would a day in the life of your organisation's employees look like?</p>
            <p>Define the outcomes which will resolve your business problem. The future state will need to deliver on these outcomes. Remember, digital transformation is not simply about applying technology to your business problem. It is about changing your organisation's culture, processes, business models and technologies to respond to people’s changing needs and expectations. Keep in mind that your understanding of the future state design will evolve as you develop and refine your options (Refer to <a href="../play3/index.html">Play 3</a>).</p> {% include play-navigation.html %}
        </div>
        <div class="col-xs-12 col-sm-5">
            <section class="au-callout quote">
                <p>...</p>
                <p class="author">Author goes here
                </p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="keyActivities">Key Activities</h2>
                <p><strong>Design with the user at the centre</strong></p>
                <p>Design the future state with the user in mind. The business case should identify who are the users and what they need. Engage with the people who will be using the service.</p>
                <br>
                <p><strong>Know the objectives of your organisation</strong></p>
                <p>Your business case must align to the objectives of your organisation. Define the objectives clearly and describe how your plan will incorporate them into your approach and outcomes.</p>
                <br>
                <p><strong>Know the priorities of your government</strong></p>
                <p>Identify relevant policies and priorities (especially those relating to digital transformation and the government’s use of digital and ICT). Align your options and implementation approach to the priorities to strengthen your business case.</p>
                <br>
                <p><strong>Define the future experience</strong></p>
                <p>There are various ways you can create a positive experience for your users. Think about how you can change functions across your organisation to meet the needs of the user. This includes functions relating to people, processes and technology. Understand and identify what evidence and data would be available for you to measure the change. </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="considerations">Considerations</h2>
                <ul>
                    <li>What government outcomes is your organisation delivering?</li>
                    <li>What is the strategic direction of government?</li>
                    <li>How does the future state help achieve government outcomes and organisational objectives?</li>
                    <li>What are the priority user needs?</li>
                    <li>How are you planning to address these?</li>
                    <li>Is there an organisational or whole of government approach to solution architecture or design that you need to consider?</li>
                    <li>How can you learn about your users? Form hypotheses and test ideas.</li>
                    <li>What does the future user experience look like?</li>
                    <li>What do your people, process and technology need to look like to enable the future user experience?</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="links">Links</h2>
                <p>The reference materials provided expand on the principles and considerations above. Use these to further your understanding of the play and to assist with your own business case development.</p>
                <p><a href="https://www.dta.gov.au/help-and-advice/about-digital-service-standard" target="_blank">Digital Service Standard Criteria (Australia)</a> – Provides detail across Australia’s Digital Service Standard criteria which is made up of 13 best practice principles for designing and delivering government services.</p>
            </div>
        </div>
    </div>
</div>