---
layout: global
title: Play 6 Identify the preferred option
---
<div id="content" class="container-fluid">
    {% include breadcrumbs.html %}
    <h1>Play 6</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <p class="lead">Identify the preferred option</p>
            <p>Analysing your options will likely highlight one that addresses the business problem within optimal timeframes and with the best value for money. This is the preferred option, and you should be clear that you consider that it provides the ideal solution to the business problem.</p>
         {% include play-navigation.html %}</div>
        <div class="col-xs-12 col-sm-5">
            <section class="au-callout quote">
                <p>All we can do is put our business case in, <strong>make a compelling argument</strong> and see what happens.</p>
                <p class="author">Mike Bracken, Executive Director (former)<br />
                    Government Digital Services (UK)
                </p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <img src="/images/keyActivities.png" alt="keyActivities" class="play-header-img">
                 <h2 id="keyActivities">Key Activities</h2>
                <p><strong>Compare your options</strong></p>
                <p>Identify what represents value for money. Remember, value for money may not necessarily be the cheapest option. Your business problem and context may determine the value placed on benefits, risks, costs and timeframes. Summarise and compare your options with these factors in mind. Be aware of the way your decision-maker assigns value to these factors.</p>
                <br>
                <p><strong>Justify your preferred option</strong></p>
                <p>Determine which option provides the best outcome and value for money. Summarise where it stands out specifically against the other options and highlight the key benefits. Explain why the other options are not preferred. You may need to complete a more detailed analysis of the costs, benefits and implementation approach for your preferred option (Refer to <a href="../play7/index.html">Play 7</a>). Align your preferred option with the broader context.</p>
                <p class="margin-style">Explain how the preferred option delivers on the outcomes and how it aligns to the organisation’s and government’s policy objectives.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="considerations">Considerations</h2>
                <ul>
                    <li>Why is the preferred option worth pursuing?</li>
                    <li>How do you define value for money?</li>
                    <li>Why does the option need to be pursued now and what is the impact if it is not?</li>
                    <li>Why are the other options not preferred?</li>
                    <li>How will the preferred option be delivered? </li>
                    <li>Who will deliver the preferred option? </li>
                    <li>Does your organisation and government have the capacity and capability to deliver this option?</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="links">Links</h2>
                <p>The reference materials provided expand on the principles and considerations above. Use these to further your understanding of the play and to assist with your own business case development.</p>
                <p><a href="https://www.atap.gov.au/sites/default/files/f4_business_case_for_proposed_initiatives.pdf" target="_blank">Detailed business case of preferred option (Australia)</a> - This document provides guidance on the steps and the detail proposed to justify the preferred option.</p>
            </div>
        </div>
    </div>
</div>