---
layout: global
title: Play 5 Assess and manage risk
---
<div id="content" class="container-fluid">
    {% include breadcrumbs.html %}



  <h1>Play 5</h1>

      <div class="row">
        <div class="col-xs-12 col-sm-7">
              <p class="lead">Assess and manage risk</p>
            <p>Assess the risks for each option so they are easier to compare. You need to consider risks based on how they may impact the desired outcomes, the organisation, and the government. There may be some risks which are common across all options, while the impact of the risk is likely to be different. You should consider developing a risk mitigation plan within the structure of the business case to provide decision-makers with additional information.</p>
 {% include play-navigation.html %}
        </div>
        <div class="col-xs-12 col-sm-5">
            <section class="au-callout quote">
                <p>...</p>
                <p class="author">Author goes here
                </p>
            </section>
        </div>
    </div>




    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="keyActivities">Key Activities</h2>
                <p><strong>Determine the level of risk the organisation is willing to take</strong></p>
                <p>Talk to people within the organisation to understand what level of risk and reward is acceptable to address the problem. For example, an organisation may not accept risks which, introduce complexities for customer interactions with the organisation.</p>
                <br>
                <p><strong>Understand what could go wrong for each option</strong></p>
                <p>There are various types of risks to consider. These include technology, business, funding and implementation risks. Ensure you consider the same type of risks across each option, so they are easy to compare. Remember, there will be risks for not doing anything at all.</p>
                <br>
                <p><strong>There are actions that can be taken to reduce risks to an acceptable level (or risk mitigation activities)</strong></p>
                <p>Think about different ways to avoid or minimise the risk. Look to include different approaches to reduce the probability and impact of the risk occurring. Your options can also be supported by including risk ratings before, and after mitigation, to assist decision-makers in their evaluation of the proposal.</p>
                <br>
                <p><strong>Plan how you will manage risk</strong></p>
                <p>Use a risk management approach which works for your organisation. There may be existing tools and templates available from your organisation to help guide you. As part of your implementation approach (Refer to <a href="../play7/index.html">Play 7</a>), define a process to continually identity and manage risks. Give specific consideration on how cyber security and privacy risks will be managed.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="considerations">Considerations</h2>
                <ul>
                    <li>What is happening within your organisation, government, industry, and globally that might affect your business case? </li>
                    <li>When, where, why and how are things likely to divert from your proposed outcomes? Think about categories of risk: e.g. operational, strategic, reputational, ICT and infrastructure, stakeholder relationships, contracts and procurement, service interruptions, the public, workforce capability and capacity.</li>
                    <li>Are the risks internal or external? </li>
                    <li>Who might be involved or affected if something goes wrong? </li>
                    <li>Are there any risk dependencies (will treating one risk impact your determination of another risk)?</li>
                    <li>Are you regularly engaging stakeholders to ensure visibility of the risks stays up-to-date?</li>
                    <li>Have you considered privacy risks? </li>
                    <li>Have you considered cyber security risks ?</li>
                    <li>Have you considered the legal risks that might affect your business case?</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="links">Links</h2>
                <p>The reference materials provided expand on the principles and considerations above. Use these to further your understanding of the play and to assist with your own business case development.</p>
                <p><a href="https://www.pmc.gov.au/sites/default/files/publications/risk.pdf
                                        " target="_blank">Risk analysis in Regulation Impact Statements guidance document (Australia)</a> - Detailed guidance on how to use risk analysis as part of the business case.</p>
                <p><a href="https://www.digital.govt.nz/assets/Documents/130ict-risk-management-guidance.pdf 
                                        " target="_blank">ICT Risk Management Guidance (New Zealand)</a> - This document goes through the steps for assessing risk and measuring it in your business case.</p>
                <p><a href="https://www.iso.org/standard/65694.html 
                                        " target="_blank">ISO 31000:2018 Risk management — Guidelines</a> - The International Standard provides guidelines on managing risk faced by organizations. You can customise these guidelines to apply to any organization and its context.</p>
            </div>
        </div>
    </div>
</div>