---
layout: global
title: Play 3 Outline the options
---
<div id="content" class="container-fluid">
    {% include breadcrumbs.html %}
    <h1>Play 3</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <p class="lead">Outline the options</p>
            <p>Identify the key potential solutions that could address the business problem. Each option needs to be viable and achievable. There is no point in proposing options that you cannot implement in your organisation or the current context, perhaps due to your government’s funding policies. Explore viable options in detail and assess how they will achieve the desired outcomes. Remember, 'Nothing is as expensive as building the wrong thing'.</p>
         {% include play-navigation.html %}</div>
        <div class="col-xs-12 col-sm-5">
            <section class="au-callout quote">
                <p>...</p>
                <p class="author">Author goes here
                </p>
            </section>
        </div>
    </div>

<div class="row">
    <div class="col-xs-12">
        <div class="feature-container">
            <img src="/images/keyActivities.png" alt="keyActivities" class="play-header-img">
              <h2 id="keyActivities">Key Activities</h2>
            <p><strong>Define your baseline</strong></p>
            <p>This is the ‘No Change’ option. It provides the basis from which you can measure the advantages, disadvantages and costs of other options. It may be that the most sensible solution, at least for the time being, is not to make a major change.</p>
            <br>
            <p><strong>Identify feasible options</strong></p>
            <p>Try to identify all the options that could achieve the desired outcomes in the current context. Hold workshops where stakeholders can collaborate to solve problems and share perspectives. You might like to think about options in terms of changes to people, process and technology.</p>
            <br>
            <p><strong>Analyse and compare each option</strong></p>
            <p>Establish the criteria against which you will evaluate the options. These should suit the needs of your organisation and government. Your analysis should include a comparison of costs, benefits and risks as a minimum. Refer to <a href="../play4/index.html">Play 4</a> and <a href="../play5/index.html">Play 5</a> for further detail.</p>
            <br>
            <p><strong>Align options to outcomes</strong></p>
            <p>Assess each option against the desired outcomes to identify strengths and weaknesses. It is important to note that different options may deliver different measurable benefits against the proposed outcomes.</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="feature-container">
            <img src="/images/considerations.png" alt="considerations" class="play-header-img">
            <h2 id="considerations">Considerations</h2>
            <ul>
                <li>What are all the possible options?</li>
                <li>Is each option a genuine and viable solution to the business problem?</li>
                <li>Have you agreed the criteria you will use to assess each option? </li>
                <li>Have you considered options ranging from minimal technology upgrades to more innovative ICT solutions? This includes those that may challenge your current ICT planning and service delivery solutions, such as moving from in-house development to a commercial As A Service approach.</li>
                <li>Have you considered the policy and regulatory implications of each option?</li>
                <li>How will each option impact identified stakeholder groups?</li>
                <li>What are the costs and benefits of delivering each option?</li>
                <li>What are the likely consequences of delivering each option?</li>
                <li>Have you considered all the costs, benefits and risks associated with the business case across the lifecycle of the investment (financial and non-financial)?</li>
                <li>How do the options align to your government objectives and priorities?</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="feature-container">
            <img src="/images/links.png" alt="links" class="play-header-img">
            <h2 id="links">Links</h2>
            <p>The reference materials provided expand on the principles and considerations above. Use these to further your understanding of the play and to assist with your own business case development.</p>
            <p><a href="https://treasury.govt.nz/sites/default/files/2019-08/bbc-options-framework-analysis.pdf" target="_blank">Business Case Options Framework (New Zealand)</a> – The options framework provides a structured approach to identifying and filtering a broad range of options for delivering policies, strategies, programmes and projects.</p>
            <p><a href="https://www.dta.gov.au/help-and-advice/build-and-improve-services/service-design-and-delivery-process" target="_blank">Service design and delivery process (Australia)</a> – A guide to what to do in Discovery, Alpha, Beta and Live stages of service design and delivery.</p>
        </div>
    </div>
</div>
</div>