---
layout: global
title: Play 7 Plan for implementation
---
<div id="content" class="container-fluid">
    {% include breadcrumbs.html omit_date=true %}

  

    <h1>Play 7</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <p class="lead">Plan for implementation</p>
            <p>A core part of your business case is the plan for how your organisation would implement each option you have presented. Identify all the resources needed to manage and support the implementation. The implementation approach will vary based on factors such as the complexity of the proposed digital or ICT solution and your government’s requirements. The material you generate as part of your planning will form a key part of the implementation of the preferred option.</p>
        {% include play-navigation.html %} </div>
        <div class="col-xs-12 col-sm-5">
            <section class="au-callout quote">
                <p>...</p>
                <p class="author">Author goes here
                </p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="keyActivities">Key Activities</h2>
                <p><strong>Break up the work into manageable pieces</strong></p>
                <p>Choose the appropriate delivery method for the project (e.g. agile, waterfall or blended). For a delivery method like agile, your plan will need to explain how you will incorporate and adapt to changes in the specifications. Plan out the key milestones and how and when they will be achieved. You will also need to consider how risks and dependencies will be managed. For example, the completion of related projects.</p>
                <br>
                <p><strong>Determine the organisational capacity and capability</strong></p>
                <p>Determine the existing skills of your workforce and their availability to participate when needed. Plan what and when key skills are required. Plan for training requirements.</p>
                <br>
                <p><strong>Factor in technology procurement</strong></p>
                <p>Determine how you will source your technology capabilities. This can be complex depending on your government and legal requirements. Working with suppliers external to your organisation is a large undertaking. Speak with the relevant people in your organisation to ensure you include references to the appropriate policies.</p>
                <br>
                <p><strong>Set up governance frameworks to manage risk</strong></p>
                <p>Identify who will be responsible for how key decisions will be made and how issues will be resolved. You may have already identified who these people are as part of setting up governance for decisions related to the business case. Refer to <a href="../play5/index.html">Play 5</a> for more detail on managing risks.</p>
                <br>
                <p><strong>Define and measure success</strong></p>
                <p>Define measurement criteria which will be used to determine the success of the project. Establish checkpoints to ensure the project is on track to deliver the agreed outcomes. This will provide confidence to the decision-makers that outcomes and benefits will be closely monitored.</p>
                <br>
                <p><strong>Have a plan for change</strong></p>
                <p>A new digital or ICT capability will change processes and people. Develop a plan to prepare and support people to embrace the change. This will include training, communication and transition activities. This plan will be critical in minimising the risk and disruption associated with the change whilst also helping to achieve outcomes.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="considerations">Considerations</h2>
                <ul>
                    <li>What delivery method allows you to manage risk and stakeholder expectations effectively?</li>
                    <li>What internal and external factors may impact implementation?</li>
                    <li>What are your key milestones? When are your key milestones? </li>
                    <li>What skills and capability are required to deliver the project? How long do you need these people for?</li>
                    <li>Are there any tools or frameworks to help you assess capacity and capability?</li>
                    <li>How will you source and implement the digital or ICT solution? </li>
                    <li>Are you complying with the requirements of your organisation?</li>
                    <li>Have you defined your benefits? How you are going to measure them in consultation with your stakeholders?</li>
                    <li>How can you design your implementation to deliver benefits early?</li>
                    <li>How ready is your organisation for change?</li>
                    <li>Who will be impacted by the project?</li>
                    <li>Who will have influence over the success of the project?</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="links">Links</h2>
                <p>The reference materials provided expand on the principles and considerations above. Use these to further your understanding of the play and to assist with your own business case development.</p>
                <p><a href="https://www.finance.gov.au/government/assurance-reviews-risk-assessment/assurance-reviews-process-overview 
                                        " target="_blank">Assurance Reviews Process Overview (Australia)</a> - This is a guide on assurance practices that help capture important considerations in program delivery.</p>
            </div>
        </div>
    </div>
</div>