---
layout: global
title: Play 4 Define the Costs and Benefits
---
<div id="content" class="container-fluid">
    {% include breadcrumbs.html %}
   <h1>Play 4</h1> 




     <div class="row">
        <div class="col-xs-12 col-sm-7">
              <p class="lead">Define the costs and benefits</p>
        <p>Accurately calculating the costs and benefits of the program will help decision-makers understand the different options presented in the business case. It is important to be clear how you will measure the costs and benefits for each option, and to provide a description of the methodology you used to support evaluation of the options and overall business case.</p>
 {% include play-navigation.html %}
        </div>
        <div class="col-xs-12 col-sm-5">
            <section class="au-callout quote">
                <p>...</p>
                <p class="author">Author goes here
                </p>
            </section>
        </div>
    </div>






    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="keyActivities">Key Activities</h2>
                <p><strong>Decide how you will calculate the costs of the proposal</strong></p>
                <p>There are many methods available for generating costings depending on the experience of those preparing the business case. There is no universally recognised single best approach for developing costs, but other government agencies such as your Finance or Treasury Department (or equivalent) may guide you. The size, complexity and desired outcomes may determine whether you use an agile or waterfall funding model. Make sure you explain any assumptions made. Initial cost estimates may be imprecise but will become more accurate as you work through the business case process.</p>
                <br>
                <p><strong>A variety of people and subject matter experts inform your costs</strong></p>
                <p>Talk to the people who will be making decisions on the business case to understand what they want included. Relevant groups within your organisation can also help you establish the costs of internal services and resources. Subject matter experts and other stakeholders outside your organisation are another good source of costing advice.</p>
                <br>
                <p><strong>Cost based on scope and implementation approach</strong></p>
                <p>Options with greater ICT complexity and scope are likely to cost more. The choice of delivery method will also affect the way costs are calculated. Agile and waterfall approaches will each require unique considerations.</p>
                <br>
                <p><strong>Quantitative and qualitative measurements of benefits</strong></p>
                <p>Give a broad overview of the benefits each option will deliver. Include both quantitative and qualitative measurements of the outcomes. For example, you might intend to measure changes in staff hours (quantitative) and gain feedback on customer experience through a survey (qualitative). Work with the people who will be implementing the project to define the metrics that are most valuable.</p>
                <br>
                <p><strong>Conduct detailed cost and benefit analysis on the preferred option</strong></p>
                <p>Perform a more detailed analysis of the costs and benefits once decision-makers have agreed with the preferred option.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="considerations">Considerations</h2>
                <ul>
                    <li>Who can help with developing costing models?</li>
                    <li>What degree of costing competence or maturity do you have within your organisation?</li>
                    <li>Can you draw organisation expertise into the development of costs?</li>
                    <li>How are you going to measure the size and complexity of the problem?</li>
                    <li>What are the current ICT support and maintenance costs? </li>
                    <li>How complex are the business requirements and the digital and ICT capability?</li>
                    <li>How much do staff cost and how long will they be required for?</li>
                    <li>How long are staff required over the implementation period?</li>
                    <li>How many people will use the new digital and ICT capability?</li>
                    <li>What will the organisation require to maintain and support the new ICT capability once it is implemented?</li>
                    <li>Have you agreed on the benefits with the relevant stakeholders?</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="links">Links</h2>
                <p>The reference materials provided expand on the principles and considerations above. Use these to further your understanding of the play and to assist with your own business case development.</p>
                <p><a href="https://www.finance.gov.au/government/commonwealth-investment-framework/commonwealth-investments-toolkit/cost-estimation" target="_blank">Cost estimation guide (Australia)</a> – This is a guide to allow robust costing to occur as there are a number of principles that should be covered when they are estimated.</p>
                <p><a href="https://www.pmc.gov.au/resource-centre/regulation/cost-benefit-analysis-guidance-note" target="_blank">Cost-benefit analysis document (Australia)</a> – Guidance on why cost-benefit analysis is important.</p>
                <p><a href="https://www.pmc.gov.au/sites/default/files/publications/cost-benefit-analysis_0.pdf" target="_blank">Cost-benefit analysis document (Australia)</a> – Detailed guidance on how to use cost-benefit analysis to assess proposals.</p>
            </div>
        </div>
    </div>
</div>