---
layout: global
title: Play 0
---
<div id="content" class="container-fluid">
    {% include breadcrumbs.html %}
    <h1>Play 0</h1>
    <div class="row">
        <div class="col-xs-12 col-sm-7">
            <p class="lead">Understand and describe the
                business problem</p>
            <p>The business problem can originate from many different
                sources and this will affect how you approach your business case. Outline
                the problem the business case seeks to resolve. You want your reader to
                understand why this problem deserves attention. Think about how this problem
                relates to your current environment, and how it sits within a broader
                context. You should focus on the way it affects users and the organisation.</p> {% include play-navigation.html %}
        </div>
        <div class="col-xs-12 col-sm-5">
            <section class="au-callout quote">
                <p>...</p>
                <p class="author">Author goes here
                </p>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="keyActivities">Key Activities</h2>
                <p><strong>Understand user needs and the reason for
                        change</strong></p>
                <p>Conduct research into the people who interact with your
                    service or product, and why the current state is not working. Summarise why
                    the change is required and how an investment in technology, processes and
                    people could support this change.</p>
                <br>
                <p><strong>Put the problem in context</strong></p>
                <p>Identify how the business problem came about and what
                    factors impact the problem. This will help you understand the potential
                    complexity of the problem. You also need to identify the priorities for your
                    organisation. Think about how resolving the business problem might align
                    with these priorities.</p>
                <br>
                <p><strong>Establish support from relevant people</strong>
                </p>
                <p>Ensure stakeholders agree to the reason for change by
                    framing the issue in terms that relate to them. A common goal will ensure
                    you have stakeholder support when drafting the business case. Remember that
                    stakeholders may be internal or external to your organisation and might
                    include other levels of government and non-government service providers.</p>
                <br>
                <p><strong>Explain 'why now'</strong></p>
                <p>Describe why the problem needs to be addressed now, and
                    not later. Help the decision-maker understand why this is a priority and
                    what will happen if the current situation continues. A clear description of
                    the current situation will form an important part of the “No Change” option
                    (Refer to <a href="/plays/play3/">Play 3</a>).</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="considerations">Considerations</h2>
                <ul>
                    <li>What issues needs to be addressed in the current environment?</li>
                    <li>What is the problem that the business case is trying to solve?</li>
                    <li>What is the context in which the problem occurs?</li>
                    <li>What are the strategic priorities of your government?</li>
                    <li>Who are the stakeholders that are impacted?</li>
                    <li>What data do you need to investigate and understand the business
                        problem?</li>
                    <li>Do you understand how users currently interact with your service?</li>
                    <li>Understand the policy behind your service and how this defines your response. </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="feature-container">
                <h2 id="links">Links</h2>
                <p>The reference materials provided expand on the principles
                    and considerations above. Use these to further your understanding of the play and to assist with your own business case development.</p>
                <p><a href="https://www.tbs-sct.gc.ca/pol-cont/doc/32593-eng.docx">Concept Case (Canada)</a> – This document is used to describe a business problem or opportunity and the conceptual future state and intended outcome(s) that could result from a potential digital project</p>
                <p><a href="EstoniaBusinessCase.pdf" target="_blank">Business Case Canvas (Estonia)</a> - Estonia has adopted a business canvas approach for reviewing and prioritising ICT projects. This presents the key element of the business case in a one page (A4) format.</p>
            </div>
        </div>
    </div>
</div>